#color{
    color: #269C07;
}
.position{
    margin-left: 50%;
    font-size:40px;
    height: auto;
}
.posicao{
    margin-left: 6%;
    font-size: 30px;
    
}
.posicao1{
    font-size: 30px;
    
}

.md hydrated{
    color: #269C07;
}